body {
  /* background-color: rgb(242,240,235); */
  /* background: linear-gradient(10deg, #2e3192, #00b4db); */
  background: linear-gradient(135deg, #4d6c7e, #f2f0eb);
  color: #222222;
  /* color: #77c6e0; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


label {
  font-weight: bold;
}
