.JobCard {
  max-height: 220px;
  max-width: 25rem;
}

.JobCard:hover {
  background-color: rgb(238, 238, 238);
  box-shadow: 0.3rem 0.4rem rgba(0, 0, 0, 0.05);
}
/*
.JobCard button:hover {
  content: "Unapply";
} */

.apply-button {
  position: absolute;
  right: 15px;
  bottom: 10px;
  max-width: 100px;
}