.Nav {
  background-color: whitesmoke;
}

.Nav a {
  text-decoration: none;
  color: rgb(71, 85, 105);
}

.Nav a.active {
  font-weight: bolder;
  text-decoration: underline;
  color: rgb(30, 41, 59);
}
